#created.section
  - if flash[:error]
    .error
      %h2= t.haml_has_some_problem
      %p= flash[:error]
      .to_top
        %a{:href => '/'}= t.back_to_top
  - else
    %h2= t.beautiful_html_was_made
    %button.raw= t.select_a_html
    #tweet_button
      %a{:href => "http://twitter.com/share", :class => "twitter-share-button", :'data-count' => "horizontal", :'data-via' => "komagata", :'data-related' => "machida:designer", :'data-lang' => r18n.locale.code} Tweet
      %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
    .source
      %textarea{:style => 'display:none'}~h @html
      %pre
        %code=h @html
:javascript
  $(function(){
    $('.source textarea').height($('.source pre').height())
    $('button.raw').click(function(){
      if ($('.source textarea').css('display') == 'none') {
        $('.source textarea').fadeIn()
        $('.source pre').hide()
        $('.source textarea').focus().select()
      } else {
        $('.source textarea').hide()
        $('.source pre').fadeIn()
      }
    })
  })
