- if flash[:error]
  .error
    %img{alt: 'Haml', src: '/images/ham.png', class: 'error__image'}
    %h2.error__title
      = t.haml_has_some_problem
    .error__message
      %p
        = flash[:error]
    .error__back
      %a{href: '/?=restart', class: 'error__back-link input-source__submit'}
        = t.back_to_top
- else
  .created
    %header.created-header
      .created-header__container
        %a.created-header__back{href: '/'}
          %i.fa.fa-angle-left
        %h2.created-header__title
          = t.beautiful_html_was_made
        .created-header__get-raw-container
          %button.created-header__get-raw.js-raw
            = t.select_a_html
    .source
      %textarea.source__created-form{style: 'display:none'}~h @html
      %pre.source__pre
        %code.hljs.source__code.html= h @html
:javascript
  $(function(){
    $('.source textarea').height($('.source pre').height())
    $('button.js-raw').click(function(){
      if ($('.source textarea').css('display') == 'none') {
        $('.source textarea').fadeIn()
        $('.source pre').hide()
        $('.source textarea').focus().select()
      } else {
        $('.source textarea').hide()
        $('.source pre').fadeIn()
      }
    })
  })
